# sudo pip install -r requirements.txt

numpy
pandas
matplotlib
pyspark >= 3.4.0
pyarrow >= 4.0.0
imageio
scikit-learn
torch
torchvision
transformers

tqdm
luigi
google-api-python-client
google-auth
rasterio
pyproj


# developer tools
jupyterlab
black
pre-commit
