# sudo pip install -r requirements.txt

numpy
pandas
matplotlib
pyspark >= 3.4.0
# pyarrow >= 4.0.0
imageio
scikit-learn
torch
torchvision
transformers
xgboost
node2vec-fugue @ git+https://github.com/graph-embedding/node2vec.git
pytorch-lightning
torchmetrics
petastorm
# this is a silly-limitation, would be nice to get rid of petastorm instead
pyarrow==10.0.1

tqdm
contexttimer
luigi
google-api-python-client
google-auth
google-cloud-storage
rasterio
pyproj


# developer tools
jupyterlab
black
pre-commit
